*{
      margin: 0;
      padding: 0;
}
.grid{
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 200px auto;
      grid-template-areas: 'header header'
                           'section section';
}
.header{
      grid-area: header;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
}
.btn{
      padding: 20px;
      cursor: pointer;
      border-style: none;
}
.create{
      background-color: green;
}
.search{
      background-color: blue;
}
.update{
      background-color: yellow;
}
.delete{
      background-color: red;
}


.section{
      grid-area: section;
      justify-items: center;
}
table{
      width: 60%;
}
th{
      border: 1px solid black;
      padding: 10px;
      background-color: #30364F;
      color: white;
}
td{
      border: 1px solid black;
      text-align: center;
      padding: 10px;
      background-color: #ACBAC4;
}
.hidden{
      display: none;
}

form{
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px;
      border-radius: 12px;
      background-color: #4A70A9;

      position: absolute;
      left: 35%;
}
form input{
      padding: 10px;
      background-color: lightgrey;
      border-style: none;
}
.submit{
      cursor: pointer;
      border-style: none;
}
.submit_create{
      background-color: green;
}
.submit_search{
      background-color: blue;
}
.submit_update{
      background-color: yellow;
}
.submit_delete{
      background-color: red;
}